In [1]:
import os

import geopandas as gpd
import pathlib
import sqlite3
import pandas as pd

data_dir = pathlib.Path("..").resolve() / "data"
db_con = sqlite3.connect(str(data_dir / "ppm.sqlite"))
schools = gpd.read_postgis("SELECT * FROM schools;", db_con, geom_col="GEOMETRY")
education = pd.read_sql("SELECT * FROM education;", db_con)

In [3]:
education_locations = pd.merge(schools, education, left_on=["schoollabel"], right_on=["School Name"], how="outer")

# To fix
- Merge schoollabel and school name

In [25]:
missing_school_names = education_locations["School Name"].isnull()
education_locations.loc[missing_school_names,"School Name"] = education_locations.loc[missing_school_names,"schoollabel"]
education_locations.loc[education_locations["schoollabel"].isnull(),"schoollabel"] = education_locations.loc[education_locations["schoollabel"].isnull(),"School Name"]
# #
education_locations.loc[education_locations["schoolLink"].isnull(),"schoolLink"] = education_locations.loc[education_locations["schoolLink"].isnull(),"school"]
education_locations.loc[education_locations["school"].isnull(),"school"] = education_locations.loc[education_locations["school"].isnull(),"schoolLink"]

In [26]:
education_locations["is_university"] = education_locations["School Name"].str.contains("University")
high_school_college =pattern = r"(High School|College|Grammar School)"
education_locations["is_high_school"] = education_locations["School Name"].str.contains(high_school_college)
education_locations["is_alt_edu"] = (~education_locations["is_university"])& (~education_locations["is_high_school"])

/tmp/ipykernel_146945/880131701.py:3: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  education_locations["is_high_school"] = education_locations["School Name"].str.contains(high_school_college)

# Attempt to get missing locations
Property:625

In [28]:
sparql_entities = education_locations[education_locations["location"].isna()].schoolLink.str.extract(r"(Q\d+)")
sparql_entities.columns = ["entity"]
sparql_entities.dropna(inplace=True)
cleaned_ents = ' '.join(['wd:'+ e for e in sparql_entities["entity"].values])
cleaned_ents

'wd:Q781371 wd:Q371370 wd:Q4824219 wd:Q127990 wd:Q892188 wd:Q1053985 wd:Q1066188 wd:Q5102091 wd:Q907481 wd:Q48815827 wd:Q1180978 wd:Q1284960 wd:Q5353931 wd:Q15575 wd:Q49122 wd:Q6124478 wd:Q6152232 wd:Q49127 wd:Q1478723 wd:Q174570 wd:Q289348 wd:Q741082 wd:Q6811735 wd:Q6811823 wd:Q598841 wd:Q6898254 wd:Q1375146 wd:Q706712 wd:Q62516299 wd:Q1144750 wd:Q1057890 wd:Q1278780 wd:Q7593823 wd:Q7595174 wd:Q7627278 wd:Q787234 wd:Q7660015 wd:Q7660036 wd:Q469476 wd:Q7741168 wd:Q7865388 wd:Q15574 wd:Q1640648 wd:Q160302 wd:Q1961570 wd:Q1516684 wd:Q170027 wd:Q319078 wd:Q1814435 wd:Q734764 wd:Q18545951 wd:Q531285 wd:Q1887921 wd:Q866012 wd:Q15576 wd:Q4614 wd:Q978124 wd:Q487556 wd:Q7896374 wd:Q962011 wd:Q1145731 wd:Q1517021 wd:Q1350021 wd:Q185246 wd:Q180514 wd:Q83303158 wd:Q1141452 wd:Q8001157 wd:Q49112'

In [29]:
from pollypedagogy.utils import  get_results, clean_results
endpoint_url="https://query.wikidata.org/sparql"

school_location_query = f"""SELECT ?school ?schoolLabel ?location ?locationLabel
WHERE
{{
  VALUES ?school {{ {cleaned_ents} }}
  ?school wdt:P625 ?location.
  SERVICE wikibase:label {{ bd:serviceParam wikibase:language "en". }}
}}"""

school_locs = get_results(endpoint_url, school_location_query)

schools_df = clean_results(school_locs['results']['bindings'])

In [33]:
merge_results = pd.merge(education_locations, schools_df, left_on="schoollabel", right_on="schoolLabel", how="left")

In [34]:
no_locs = education_locations["location"].isnull()
education_locations.loc[no_locs,"location"] = merge_results.location_y

In [38]:
# Lookup some manual locations
charles_sturt_university_hdq = "Point(151.074444  -33.846667)"
deakin_university_hdq = "Point(144.297 -38.1979)"
la_trobe = "Point(145.047909 -37.72179)"
mac_university = "Point(151.112915 -33.775259)"
sturtholme = "Point(152.974 -27.4692)"
edinburgh_uni = "Point(-3.187194 55.947389)"
unsw_law = "Point(151.2279886 -33.9171807)"
sydney_uni = "Point(151.18722 -33.88778)"
uwa = "Point(115.818611 -31.980278)"
westend_ss = "Point(153.0081 -27.4796)"

education_locations.loc[ education_locations["schoollabel"] == "Charles Sturt University", "location"] = charles_sturt_university_hdq
education_locations.loc[ education_locations["schoollabel"] == "Deakin University", "location"] = deakin_university_hdq
education_locations.loc[ education_locations["schoollabel"] == "La Trobe University", "location"]= la_trobe
education_locations.loc[ education_locations["schoollabel"] == "Macquarie University", "location"] = mac_university
education_locations.loc[ education_locations["schoollabel"] == "Stuartholme School", "location"] = sturtholme
education_locations.loc[ education_locations["schoollabel"] == "University of Edinburgh", "location"] = edinburgh_uni
education_locations.loc[ education_locations["schoollabel"] == "University of New South Wales Law School", "location"] = unsw_law
education_locations.loc[ education_locations["schoollabel"] == "University of Sydney", "location"] = sydney_uni
education_locations.loc[ education_locations["schoollabel"] == "University of Western Australia", "location"] = uwa
education_locations.loc[ education_locations["schoollabel"] == "West End State School", "location"] = westend_ss

In [39]:
education_locations["GEOMETRY"] = gpd.GeoSeries.from_wkt(education_locations.location)
education_locations = education_locations.set_crs(epsg=4326)

In [56]:
education = gpd.GeoDataFrame(education_locations, geometry="GEOMETRY")
education = education.drop(columns=["ogc_fid", "index", "school", "schoollabel"]).rename(columns={"School Name":"school_name", "location": "wkt", "status":"operational_status", "schoolLink":"school_link"})
education = education[["school_name", "school_link", "is_university", "is_high_school", "is_alt_edu", "operational_status", "wkt", "GEOMETRY"]]
education.rename_geometry("geom", inplace=True)

In [57]:
education.to_file(str(data_dir / "ppm.sqlite"), layer='education', driver="SQLite", if_exists="replace")

In [2]:
# looks like we have some baddddd geocodes in here lets fix
import geopandas as gpd
import pathlib
import sqlite3
import pyogrio
import pandas as pd

data_dir = pathlib.Path("..").resolve() / "data"
spl_lite = str(data_dir / "ppm_spatiallite.sqlite")
# splite_con = sqlite3.connect()
education_spatial = gpd.read_file(spl_lite, layer='education')

# TODO Outstanding
We need a good way to check if is_public -> I manually added this post cleaning.
I think this can mostly be found on wikipedia.

Also should check for duplicate names

In [28]:
from dotenv import dotenv_values
from geopy.geocoders import GoogleV3
config = dotenv_values(".env")
google_geo = GoogleV3(api_key=config.get("GOOGLE_API_KEY"))

google_geocodes = education_spatial.school_name.apply(google_geo.geocode, region="AU")
education_spatial["google_locs"] = google_geocodes

In [30]:
education_spatial["google_locs"] = google_geocodes
education_spatial['point'] = education_spatial['google_locs'].apply(lambda loc: tuple(loc.point) if loc else None)

In [29]:
config.get("GOOGLE_API_KEY")

In [32]:
from shapely.geometry import Point
education_spatial["geometry"] = education_spatial.point.apply(lambda x: Point(x[1], x[0]) if x else None)

In [57]:
google_edu = gpd.GeoDataFrame(education_spatial, geometry="geometry", crs="EPSG:4326")
from sqlalchemy import create_engine
from sqlalchemy.event import listen
# engine = create_engine(f'sqlite:///{spl_lite}', echo=True)
# def load_spatialite(dbapi_conn, connection_record):
#     dbapi_conn.enable_load_extension(True)
#     dbapi_conn.load_extension('/usr/lib/x86_64-linux-gnu/mod_spatialite.so')
# listen(engine, 'connect', load_spatialite)
# conn = engine.connect()
# google_edu[["school_name", "geometry"]][~google_edu["geometry"].isna()].to_postgis("education_google", conn, schema="main")
google_edu[["school_name", "geometry"]][~google_edu["geometry"].isna()].to_file(str(data_dir / "ppm.gpkg"), layer='education_google', driver="GPKG")

In [1]:
import geopandas as gpd
import pathlib


data_dir = pathlib.Path("..").resolve() / "data"
edu_gpkg = str(data_dir / "ppm.gpkg")
education_for_update = gpd.read_file(edu_gpkg, layer='education_google', where="'school_name'!='Saint Scholastica\'s College'")
education_for_update

                        school_name                     geometry
0            Mazenod College, Perth  POINT (116.04006 -32.00665)
1    Anglican Church Grammar School  POINT (153.05166 -27.48138)
2                   Aquinas College  POINT (115.86375 -32.02565)
3       Armadale Senior High School  POINT (116.01710 -32.16126)
4        Brisbane State High School  POINT (153.01856 -27.48169)
..                              ...                          ...
156              Uppsala University    POINT (17.63001 59.85090)
157             Victoria University  POINT (144.89852 -37.79374)
158           West End State School  POINT (153.00800 -27.48022)
159               Wilderness School  POINT (138.60814 -34.89812)
160                 Yale University   POINT (-72.92234 41.31632)

[161 rows x 2 columns]

In [5]:
mask = education_for_update["school_name"] == "Saint Scholastica's College"
locs_2_update = education_for_update[~mask]
locs_2_update

                        school_name                     geometry
0            Mazenod College, Perth  POINT (116.04006 -32.00665)
1    Anglican Church Grammar School  POINT (153.05166 -27.48138)
2                   Aquinas College  POINT (115.86375 -32.02565)
3       Armadale Senior High School  POINT (116.01710 -32.16126)
4        Brisbane State High School  POINT (153.01856 -27.48169)
..                              ...                          ...
156              Uppsala University    POINT (17.63001 59.85090)
157             Victoria University  POINT (144.89852 -37.79374)
158           West End State School  POINT (153.00800 -27.48022)
159               Wilderness School  POINT (138.60814 -34.89812)
160                 Yale University   POINT (-72.92234 41.31632)

[160 rows x 2 columns]

In [6]:
import geopandas as gpd
import pathlib

data_dir = pathlib.Path("..").resolve() / "data"
spl_lite = str(data_dir / "ppm_spatiallite.sqlite")
# splite_con = sqlite3.connect()
education_spatial = gpd.read_file(spl_lite, layer='education')
education_spatial

,school_name,school_link,is_university,is_high_school,is_alt_edu,operational_status,wkt,is_public,geometry
0,New College,http://www.wikidata.org/entity/Q1376987,True,False,False,NaN,Point(-1.25166667 51.75416667),NaN,POINT (-1.25167 51.75417)
1,"Mazenod College, Perth",http://www.wikidata.org/entity/Q1914698,False,True,False,NaN,Point(116.039 -32.0067),NaN,POINT (116.03900 -32.00670)
2,Royal Military College,http://www.wikidata.org/entity/Q2171074,False,True,False,NaN,Point(149.165 -35.299722222),NaN,POINT (149.16500 -35.29972)
3,Anglican Church Grammar School,http://www.wikidata.org/entity/Q4763439,False,True,False,NaN,Point(153.054 -27.4819),NaN,POINT (153.05400 -27.48190)
4,Aquinas College,http://www.wikidata.org/entity/Q4782971,False,True,False,NaN,Point(145.235555555 -37.823055555),NaN,POINT (145.23556 -37.82306)
...,...,...,...,...,...,...,...,...,...
170,Victoria University,http://www.wikidata.org/entity/Q180514,True,False,False,NaN,Point(151.18722 -33.88778),NaN,POINT (151.18722 -33.88778)
171,West End State School,http://www.wikidata.org/entity/Q83303158,False,True,False,NaN,Point(153.0081 -27.4796),NaN,POINT (153.00810 -27.47960)
172,Western Sydney University,http://www.wikidata.org/entity/Q1141452,True,False,False,NaN,Point(147.322777777 -42.904722222),NaN,POINT (147.32278 -42.90472)
173,Wilderness School,http://www.wikidata.org/entity/Q8001157,False,True,False,NaN,Point(151.200408369 -33.883255413),NaN,POINT (151.20041 -33.88326)
174,Yale University,http://www.wikidata.org/entity/Q49112,True,False,False,NaN,Point(115.818611111 -31.980277777),NaN,POINT (115.81861 -31.98028)

In [15]:
comparison = education_spatial.merge(locs_2_update, on=["school_name"])

In [14]:
distances = comparison[gpd.GeoSeries(comparison.geometry_x).distance(gpd.GeoSeries(comparison.geometry_y)) > 1]
gpd.GeoDataFrame(distances, geometry=geometry_y).to_file(str(data_dir / "ppm.gpkg"), layer='distances', driver="GPKG")

/tmp/ipykernel_276934/2880340509.py:1: UserWarning: Geometry is in a geographic CRS. Results from 'distance' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  distances = comparison[gpd.GeoSeries(comparison.geometry_x).distance(gpd.GeoSeries(comparison.geometry_y)) > 1]

NameError: name 'geometry_y' is not defined